.categories-wrapper {
    padding: 0 1rem;
    text-align: center;
    header {
        padding: 0.5rem 0;
        font-size: 1.2rem;
        cursor: pointer;
        i {
            color: $grey;
            transition: $ease-trans;
        }
    }
    &.active {
        header i {
            transform: rotate(180deg);
        }
        .categories{
            opacity: 1;
        }
    }
}

.categories {
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: $ease-trans;
    li {
        display: grid;
        grid-template-columns: auto 1fr 1fr;
        align-items: center;
        padding: 0.5rem 0;
        border-bottom: 1px solid $grey;
        &:first-child {
            padding-top: 0;
            font-weight: bold;
            span:first-child {
                width: 50px;
            }
        }
        &:last-child {
            border-bottom: none;
        }
        img {
            width: 50px;
        }
    }
}