.test-result {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 1rem;
    padding: 1rem 1rem 0 1rem;
    @include for-size(medium) {
        grid-template-columns: 1fr;
        img {
            margin: 0 auto;
        }
    }
    img {
        width: 14rem;
    }
    article {
        h3 {
            margin-bottom: 0.75rem;
            text-align: center;
            font-size: 1.4rem;
            line-height: 1.2;
        }
        p {
            font-size: 1.2rem;
            span:not(.wpm-result) {
                padding: 0 0.1rem;
                border-radius: $radius;
                font-weight: bold;
            }
            .cpm-result {
                background-color: $gold;
            }
            .errors-result {
                background-color: lighten($red, 5%);
            }
            .accuracy-result {
                background-color: $green;
            }
        }
    }
}