.typing-text {
    max-height: 30rem;
    padding: 0.5rem;
    border: 1px solid $grey;
    border-radius: $radius;
    overflow-y: auto;
    text-align: justify;
    word-break: break-all;
    font-size: 1.2rem;
    @include for-size(small) {
        max-height: 26rem;
    }
    @include for-size(extra-small) {
        max-height: 22rem;
    }
    span {
        position: relative;
        &.active {
            color: $gold;
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: $gold;
                animation: blinking 0.5s ease-in-out 0s infinite alternate;
            }
        }
        &.correct {
            color: $green-2;
        }
        &.incorrect {
            outline: 1px solid $white;
            border-radius: $radius;
            background-color: $transp-red;
            color: $red;
        }
    }
}

@keyframes blinking {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}