@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import 'config';
@import 'preloader';
@import 'test';
@import 'typing-text';
@import 'controller';
@import 'modal';
@import 'test-result';
@import 'categories';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    min-height: 100vh;
    @extend %grid-center;
    background: linear-gradient($primary-clr 0%, $primary-clr-2 100%);
    color: $black;
    line-height: 1;
    @include for-size(small) {
        display: unset;
        background: $white;
    }
}

p {
    line-height: 1.5;
}

li {
    list-style-type: none;
}

img {
    display: block;
}

button {
    font-size: 1rem;
    cursor: pointer;
}

.btn {
    width: 8rem;
    display: inline-block;
    padding: 0.5rem 0;
    border: none;
    border-radius: $radius;
    background: linear-gradient($red 0%, $red-2 100%);
    color: $white;
    text-transform: capitalize;
    letter-spacing: $space;
    transition: $ease-trans;
    &:active {
        transform: scale(0.95);
    }
}

.disabled {
    opacity: 0.7;
    pointer-events: none;
}

#test-input-field {
    position: absolute;
    opacity: 0;
    z-index: -999;
}